* {
    transition: all 0.5s ease-out;
  }
  
  body {
    height: 1024px;
    /*background-image: linear-gradient(0deg, #c9579d 30%, #fc6653);*/
    margin: 0px;
    padding: 0px;
  }
  
  .recieptMain {
    width: 788px;
    height: 1024px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 27px rgba(99, 84, 83, 0.6);
    font-family: "Poppins", sans-serif;
    position: relative;
  }
  
  h1 {
    font-size: 36;
    width: 628px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: relative;
    top: 36px;
    font-weight: 600;
  }
  
  p {
    font-size: 18;
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  p:nth-child(2) {
    font-weight: 600;
    top: 51px;
    left: 83px;
    width: 140px;
  }
  
  p:nth-child(3) {
    color: #5c5c5c;
    width: 101px;
    float: right;
    top: 23px;
    right: 327px;
  }
  
  p:nth-child(4) {
    font-weight: 600;
    left: 83px;
    top: 70px;
    width: 45px;
  }
  
  p:nth-child(5) {
    color: #5c5c5c;
    top: 42px;
    width: 83px;
    float: right;
    right: 80px;
  }
  
  hr {
    width: 625px;
    border-color: #635453;
    color: #635453;
    background-color: #635453;
  }
  
  .divide1 {
    position: absolute;
    left: 82px;
    top: 198px;
  }
  
  .divide2 {
    position: absolute;
    top: 538px;
    left: 82px;
  }
  
  h4 {
    font-size: 22px;
    font-weight: 400;
    color: #fc6653;
  }
  
  .itemdetails {
    position: absolute;
    right: 0;
    top: 218px;
    left: 81px;
  }
  
  .shipmentinfo {
    position: absolute;
    left: 81px;
    top: 540px;
  }
  
  img {
    width: 260px;
    height: 260px;
    position: absolute;
    top: 286px;
    left: 82px;
  }
  
  p:nth-child(9) {
    font-weight: 600;
    position: absolute;
    left: 354px;
    top: 282px;
  }
  
  p:nth-child(10) {
    font-weight: 600;
    position: absolute;
    right: 114px;
    top: 282px;
    width: 197px;
  }
  
  p:nth-child(11) {
    position: absolute;
    font-weight: 600;
    left: 354px;
    top: 322px;
  }
  
  p:nth-child(12) {
    position: absolute;
    font-weight: 600;
    right: 114px;
    top: 322px;
  }
  
  p:nth-child(13) {
    position: absolute;
    font-weight: 600;
    left: 354px;
    top: 362px;
  }
  
  p:nth-child(14) {
    position: absolute;
    font-weight: 600;
    right: 114px;
    top: 362px;
  }
  
  p:nth-child(15) {
    position: absolute;
    font-weight: 600;
    left: 354px;
    top: 482px;
  }
  
  p:nth-child(16) {
    position: absolute;
    font-weight: 600;
    right: 114px;
    top: 482px;
  }
  
  .customerinfo {
    list-style: none;
    position: absolute;
    top: 604px;
    left: 82px;
    padding: 0;
  }
  .customerinfo li {
    font-weight: 500;
    color: #5c5c5c;
  }
  .customerinfo #canada {
    display: inline;
    width: 300px;
  }
  
  p:nth-child(20) {
    font-size: 18;
    font-weight: bold;
    position: absolute;
    left: 82px;
    top: 742px;
  }
  
  p:nth-child(21) {
    font-size: 18;
    position: absolute;
    color: #5c5c5c;
    right: 114px;
    bottom: 259px;
  }
  
  button {
    background-color: #aad08d;
    border: none;
    width: 444px;
    height: 80px;
    font-size: 36px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 116px;
    left: 172px;
    border-radius: 5px;
  }
  
  /****************************************************************************************************************************************************
  
  ////////////////////////////////////////////////////////RESPONSIVE 
  
  
  ****************************************************************************************************************************************************/
  @media all and (max-width: 377px) {
    * {
      transition: all 0.5s ease-out;
    }
  
    body {
      background-color: white;
      background-image: none;
    }
  
    p {
      font-size: 14px;
    }
  
    .recieptMain {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      box-shadow: none;
      width: 100%;
    }
  
    img {
      position: absolute;
      width: 120px;
      height: 120px;
      left: 32px;
      top: 230px;
    }
  
    h4 {
      font-size: 18px;
    }
  
    h1 {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      width: 345px;
    }
  
    p:nth-child(2) {
      left: 32px;
      position: absolute;
      font-weight: 600;
      top: 87px;
    }
  
    p:nth-child(3) {
      color: #5c5c5c;
      position: absolute;
      top: 87px;
      width: 90px;
      right: 33px;
    }
  
    p:nth-child(4) {
      position: absolute;
      left: 32px;
      top: 127px;
    }
  
    p:nth-child(5) {
      position: absolute;
      top: 127px;
      right: 32px;
    }
  
    hr {
      width: 318px;
    }
  
    .divide1 {
      left: 28px;
      top: 160px;
    }
  
    .divide2 {
      left: 28px;
      top: 440px;
    }
  
    .itemdetails {
      position: absolute;
      left: 32px;
      top: 175px;
      font-size: 18px;
      height: 18px;
    }
  
    p:nth-child(9) {
      font-weight: 600;
      position: absolute;
      left: 155px;
      top: 225px;
    }
  
    p:nth-child(10) {
      font-weight: 600;
      position: absolute;
      right: 32px;
      top: 225px;
      width: 110px;
      text-align: right;
    }
  
    p:nth-child(11) {
      position: absolute;
      font-weight: 600;
      left: 157px;
      top: 287px;
    }
  
    p:nth-child(12) {
      position: absolute;
      font-weight: 600;
      right: 32px;
      top: 287px;
    }
  
    p:nth-child(13) {
      position: absolute;
      font-weight: 600;
      left: 157px;
      top: 347px;
    }
  
    p:nth-child(14) {
      position: absolute;
      font-weight: 600;
      right: 32px;
      top: 347px;
    }
  
    p:nth-child(15) {
      position: absolute;
      font-weight: 600;
      left: 158px;
      top: 408px;
    }
  
    p:nth-child(16) {
      position: absolute;
      font-weight: 600;
      right: 32px;
      top: 408px;
    }
  
    button {
      position: absolute;
      top: 660px;
      width: 217px;
      height: 40px;
      right: 80px;
      left: 80px;
      font-size: 18px;
      bottom: 33px;
    }
  
    p:nth-child(20) {
      font-size: 18;
      font-weight: bold;
      position: absolute;
      left: 82px;
      top: 742px;
    }
  
    p:nth-child(21) {
      font-size: 18;
      position: absolute;
      color: #5c5c5c;
      right: 114px;
      bottom: 259px;
    }
  
    ul {
      font-size: 14px;
      font-weight: 400;
      left: 32px;
    }
  
    .customerinfo {
      left: 32px;
      top: 500px;
    }
  
    .shipmentinfo {
      position: absolute;
      left: 32px;
      font-size: 18px;
      top: 463px;
    }
  
    p:nth-child(20) {
      left: 32px;
      top: 620px;
    }
  
    p:nth-child(21) {
      right: 32px;
      top: 620px;
    }
  }
  